@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.wrapper {
  margin: 10px auto;
}

.loader {
  padding: 16px;
  color: inherit;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.loader:after {
  content: " .";
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: #c05b8b;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 #c05b8b, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 #c05b8b, 0.5em 0 0 #c05b8b;
  }
}

body {
  font-family: "Noto Sans JP", sans-serif;
  color: #270f1a;
  background-color: #fefdfe;
  min-height: 800px;
}

.form-check label {
  margin-left: 5px;
}

.alert-text {
  font-size: 24px;
}

.myBtn {
  display: inline-block;
  vertical-align: middle;
  user-select: none;
  line-height: 1.2;
  font-weight: 400;
  cursor: pointer;
  font-family: inherit;
  background-color: #7367f0;
  border: 1px solid transparent;
  box-shadow: 0 0 0 3px transparent;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  color: #fff;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.myBtn:hover {
  background-color: #5e50ee;
  color: white;
}

.myBtn:focus {
  outline: 0;
  box-shadow: 0 0 0 3px #dedbfb;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  background-color: #c05b8b;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
}

nav a {
  display: inline-block;
  color: #f2dce6;
  padding: 5px 10px;
}

nav a:hover {
  color: #f9eef3;
}

nav a.active {
  color: #fff;
}

nav .side-menu {
  display: flex;
}

nav li {
  list-style-type: none;
}

.home {
  margin: 20vh auto;
  text-align: center;
}

.home h2 {
  padding: 20px;
}

.home p {
  margin: 10px 0;
}

.home .myBtn {
  margin: 10px;
  display: inline-block;
  vertical-align: middle;
  user-select: none;
  line-height: 1.2;
  font-weight: 400;
  cursor: pointer;
  font-family: inherit;
  background-color: #7367f0;
  border: 1px solid transparent;
  box-shadow: 0 0 0 3px transparent;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  color: #fff;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-weight: 500;
}

.home .myBtn:hover {
  background-color: #5e50ee;
  color: white;
}

.home .myBtn:focus {
  outline: 0;
  box-shadow: 0 0 0 3px #dedbfb;
}

.enter-details {
  margin: 20vh auto;
  padding: 10px;
}

.enter-details .create {
  max-width: 600px;
  min-height: 40vh;
  margin: 0 auto;
  background-color: white;
  box-shadow: 5px 5px 12px 4px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.enter-details .create h2 {
  padding: 1.2em;
  text-align: center;
}

.enter-details .create form {
  padding: 5px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: calc(100% - 30px);
}

.enter-details .create form .form-group {
  padding: 0 10px;
  margin-bottom: 10px;
}

.enter-details .create form .form-group label {
  display: inline-block;
  margin-bottom: 0.3rem;
}

.enter-details .create form .form-group input {
  color: #7367f0;
  background-color: #fff;
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  font-weight: 500;
  background-clip: padding-box;
  box-shadow: 0 0 0 3px transparent;
  border-radius: 0.25rem;
  border: 1px solid #c9c4f9;
  transition: box-shadow 0.15s ease-in-out;
}

.enter-details .create form .form-group input:focus {
  outline: 0;
  box-shadow: 0 0 0 3px #dedbfb;
}

.enter-details .create form .buttons {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.enter-details .create form .buttons .myBtn {
  margin: 5px;
}

.enter-details .create form .buttons input {
  display: block;
}

.quiz {
  padding: 5vw;
}

.quiz h4 {
  font-weight: 500;
  text-align: center;
  padding-bottom: 30px;
}

.quiz p {
  font-weight: 500;
  padding: 5px 5px 10px;
}

.quiz form {
  padding: 10px;
}

.quiz form .questions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 1em;
}

.quiz form .questions .question {
  padding: 20px;
  background-color: white;
  box-shadow: 5px 5px 12px 4px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.quiz form .questions .question p {
  font-weight: 400;
  text-align: start;
}

.quiz form .questions .question .selection {
  position: relative;
}

.quiz form .questions .question .selection input[type="radio"] {
  height: 1.2em;
  width: 1.2em;
  transition: all 0.2s ease-in;
}

.quiz form .questions .question .selection input[type="radio"]:checked {
  transform: scale(1.1);
}

.quiz form .questions .question .selection input[type="radio"]:hover {
  cursor: pointer;
}

.quiz form .questions .question .selection label {
  position: absolute;
  display: inline-block;
  line-height: 1.2em;
  margin-left: 5px;
}

.quiz form .button-group .myBtn {
  display: inline-block;
  vertical-align: middle;
  user-select: none;
  line-height: 1.2;
  font-weight: 400;
  cursor: pointer;
  font-family: inherit;
  background-color: #273746;
  border: 1px solid transparent;
  box-shadow: 0 0 0 3px transparent;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  color: #fff;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: 20px;
}

.quiz form .button-group .myBtn:hover {
  background-color: #1e2a36;
  color: white;
}

.quiz form .button-group .myBtn:focus {
  outline: 0;
  box-shadow: 0 0 0 3px #557798;
}

.quiz form .button-group .loader {
  padding: 0.5rem 1rem 0.5rem 0.75rem;
  pointer-events: none;
}

.results {
  margin: 10px;
  text-align: center;
}

.results p {
  padding: 16px;
  font-size: 18px;
}

.results .error {
  color: #c05b8b;
}

.results .wrapper {
  margin: 5em auto;
}

.results .wrapper .title {
  font-size: 20px;
  font-weight: 500;
  padding: 30px 5px;
  text-align: center;
}

.results .wrapper table {
  box-shadow: 5px 5px 12px 4px rgba(0, 0, 0, 0.05);
  border-collapse: collapse;
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  text-align: start;
}

.results .wrapper table tr {
  background-color: #dedbfb;
}

.results .wrapper table tr th {
  color: #fff;
  border: 1px solid #dca5bf;
  padding: 12px 8px;
  background-color: #c05b8b;
}

.results .wrapper table tr td {
  color: inherit;
  padding: 8px;
}

.results .wrapper table tr td.score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.results .wrapper table tr td.score button {
  margin-left: 3px;
  padding: 0.3rem 0.4rem;
  font-size: 0.8rem;
}

.results .wrapper table tr:nth-child(even) {
  background-color: #eacad9;
}

@media screen and (max-width: 576px) {
  nav {
    padding: 1px 8px;
  }
  .enter-details .create {
    width: 90vw;
  }
  .enter-details .create form {
    width: 100%;
  }
  .quiz {
    padding: 10px;
    font-size: 14px;
  }
  .quiz h4 {
    padding: 5px;
  }
  .quiz p {
    font-weight: 400;
  }
  .quiz form {
    padding: 5px;
  }
  .quiz form .questions {
    grid-template-columns: repeat(1, minmax(200px, auto));
  }
  .quiz form .questions .question label {
    line-height: 2;
  }
  .results {
    margin: 0;
  }
  .results p {
    font-weight: 500;
    padding: 30px 5px 10px;
    text-align: center;
  }
  .results .wrapper div {
    margin: 3px;
    overflow-y: auto;
  }
  .results .wrapper div table {
    font-size: 14px;
    max-width: 100%;
    word-wrap: break-word;
  }
  .results .wrapper div table tr td {
    max-width: 220px;
  }
  .results .wrapper div table tr td .myBtn {
    padding: 0.25rem 0.3rem;
    margin-left: 3px;
    font-size: 14px;
  }
  .results .wrapper div table tr td:nth-child(2) {
    max-width: 10em;
  }
}

@media screen and (max-width: 380px) {
  .results .wrapper div {
    margin: 2px;
  }
  .results .wrapper div table {
    max-width: 98%;
  }
  .results .wrapper div table tr td {
    max-width: 150px;
  }
  .results .wrapper div table tr td:nth-child(2) {
    max-width: 8em;
  }
}
/*# sourceMappingURL=index.css.map */